/******************************************
/* CSS
/*******************************************/

/******************************************
/* IMPORTS
/*******************************************/

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Gaegu:wght@700&display=swap');
/******************************************
/* LAYOUT
/*******************************************/
html, body {
  height: 100%;
}
body {
  background-image: url('/img/background-min.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.site-title,
.input,
.data,
#myDictionary {
  z-index: 1;
  position: relative;
  margin: 0 auto;
}
.site-title,
.input {
  display: flex;
  justify-content: center;
  max-width: 504px;
  margin: 0 auto;
}

#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 1rem;
}


#content {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 2rem auto;
  margin-bottom: 0.5rem;
  align-items: center;
}



/******************************************
/* MODULES
/*******************************************/


.site-title {
  width: 40%;
  text-align: center;
}

.input {
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 3rem;
}

input {
  background: none;
  border:rgba(255, 255, 255, 0.8);
  width: 70%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

button {
  background: rgba(177,112,54);
  border:rgba(255, 255, 255, 0.5);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-right: 1rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1.75rem;
  color:rgba(255, 255, 255, 0.8)
}

button:hover {
  cursor: pointer;
  background: rgb(156, 98, 47);
}

.icon {
  width: 3rem;
}

.wordPic {
  width: 7rem;
  border-radius: 50%;
  display: none;
}

#result .type,
#result .def,
#result .ex {
  align-self: flex-start;
}

#myDictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 504px;
  column-gap: 1rem;
  margin: 2rem auto;
}

.data {
  display:none;
  height: 400px;
  max-width: 504px;
  margin: 0 auto;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.8)
}

#result :last-child {
  margin-bottom: 1rem;
}

.type {
  margin-bottom: 0.5rem;
}

.def {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.ex {
  margin-top: 0;
  color : rgb(237, 200, 118);
}

.myDictionary {
  width: 70px;
  padding: 1rem;
  height: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem; 
  text-align: center;
  background: rgb(230, 201, 127);
  box-shadow: 10px 5px 5px grey;
  transition: margin 0.25s ease-in-out;
} 

.myDictionary:hover {
  margin-top: -1px;
  cursor: pointer;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 4rem;
  color: rgba(180,112,54);
  letter-spacing: .3rem;
}
h2 {
  font-family: 'Fredoka One', cursive;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid rgba(177,112,54);
  color: rgba(177,112,54);
  font-size: 3rem;
  text-align: left;
  width: 60%;
}

h3,
p {
  font-family: 'Gaegu', cursive;
  color: rgba(177,112,54);
}

input[type="text"]
{
  font-family: 'Gaegu', cursive;
  color: rgba(177,112,54);
  font-size: 2rem;
}

textarea:focus, input:focus{
  outline: none;
}

[type="button"]
{
  font-family: 'Gaegu', cursive;
}

#result {
  font-size: 1.25rem;
}

.myDictionary {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}
/******************************************
/* MEDIA QUERIES
/*******************************************/

@media screen and (min-width: 320px) and (max-width: 767px) {
  .data {
    width: 85%;
    height: 420px;
  }
  .input {
    width: 85%;
  }
  #myDictionary {
    width: 85%;
  }
  #content {
    width: 90%;
  }
  #result {
    width: 90%;
  }
  h2 {
    margin-right: 1rem;
  }
}


 @media screen and (min-width: 768px) and (max-width: 1023px) {
  .data {
    width: 65%;
  }
  .input {
    width: 65%;
  }
  #myDictionary {
    width: 65%;
  }
} 



